<ion-view title="Guest Info" id="page7">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-list id="guestInfo-list7" class="manual-list-fullwidth">
      <ion-item class="item-avatar" id="guestInfo-list-item8">
        <img src="{{icon}}">
        <h2>{{name}}</h2>
        <p>{{char}}</p>
      </ion-item>
    </ion-list>
    <div id="guestInfo-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{desc}}</p>
    </div>
  </ion-content>
</ion-view>